/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&family=Uncial+Antiqua&family=Young+Serif&display=swap');

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    text-align: center;
}

.heading {
    display: flex;
    text-align: center;
    font-size: 3.5rem;
    top: 0;
    padding: 1rem;
}

.game-area {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 4%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.select-images {
    display: flex;
    column-gap: 6rem;
}

.select-images img {
    height: 12rem;
    width: 10rem;
    padding: 1rem;
}

.user-select img {
    transform: rotate(90deg);
}

.cpu-select img {
    transform: rotate(-90deg) rotateY(180deg);
}

.game-text {
    text-align: center;
    font-size: 2.5rem;
    padding: 1%;
}

.playing-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playing-options img {
    height: 8rem;
    width: 7rem;
}

/*Score Area*/
.score-area {
    display: flex;
    
}

.score {
    display: inline-block;
    padding: 25px;
}