/* Asterisk selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* General Styling */
body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 3rem;
}

.heading {
    display: flex;
    text-align: center;
    font-size: 3.5rem;
    top: 0;
    padding: 1rem;
}

.game-area {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 4%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.select-images {
    display: flex;
    column-gap: 6rem;
    justify-content: center;
}

.select-images img {
    height: 12rem;
    width: 10rem;
    padding: 1rem;
}

.user-select img {
    transform: rotate(90deg);
}

.cpu-select img {
    transform: rotate(-90deg) rotateY(180deg);
}

#game-text {
    text-align: center;
    font-size: 2.5rem;
    padding: 8%;

}

/* User Input styling */

.playing-options {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.btn {
    font-size: 150%;
    background-color: white;
    border: none;
}

.playing-options img {
    height: 8rem;
    width: 7rem;
}

/*Score Area*/
.score-area {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: inline-block;
    padding: 2rem;
    font-size: 125%;
}

#user-score {
    color: green;
    font-weight: bold;
}

#cpu-score {
    color: red;
    font-weight: bold;
}